
.navbar-ctn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 2rem;
  border-bottom: 2px;
  background-color: var(--bg-color);
  color: var(--text-color);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s ease, color 0.3s ease;
}


.navbar-ctn.dark {
  --bg-color: #121212;
  --text-color: #f5f5f5;
    border-bottom-color: white;
}

.navbar-ctn.light {
  --bg-color: #f8f8f8;
  --text-color: #333;
  border-bottom-color: rgb(0, 0, 0);
}

.navlogo-ctn h1 {
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
  margin: 0;
}

.navsearch-ctn {
  flex: 1;
  display: flex;
  justify-content: center;
}

.search-ctn {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 550px;
  border-radius: 25px;
  padding: 0.4rem 0.8rem;
  transition: all 0.3s ease;
}

.search-ctn input {
  flex: 1;
  padding: 0.5rem 1rem;
  outline: none;
  background: transparent;
  color: inherit;
  font-size: 1rem;
  border-radius: 20px;
  transition: background 0.3s ease;
}
.search-icon {
  width: 20px;
  height: 20px;
  color: #f472b6;
  margin-right: 8px;
  opacity: 0.8;
}

.search-input {
  background: transparent;
  flex-grow: 1;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  color: #111827;
  border: none;
}

.navbar.dark .search-input {
  color: white;
}

.search-input::placeholder {
  color: #f472b6;
}

.navbar.dark .search-input::placeholder {
  color: #fbbf24;
}

.clear-button {
  margin-left: 8px;
  color: #ec4899;
  font-weight: bold;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.clear-button:hover {
  color: #be185d;
}
.search-ctn input:focus {
  border-top: 2px solid rgb(4, 138, 240);
  border-bottom: 2px solid rgb(4, 138, 240);
}
.search-ctn input::placeholder {
  color: #aaa;
}


.search-ctn button {
  background: none;
  border: none;
  color: inherit;
  font-size: 1.2rem;
  cursor: pointer;
  margin-left: 0.5rem;
  transition: transform 0.2s ease;
}

.search-ctn button:hover {
  transform: scale(1.1);
}


.navtheme-ctn button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: inherit;
  transition: transform 0.2s ease;
}

.navtheme-ctn button:hover {
  transform: rotate(20deg);
}
